**/.dockerignore
**/.env
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

# Ignore only object (allow to use git for audit during build), empty objects/ folder must exists
#   TODO: include only required files (HEAD config packed-refs refs/** and empty objects/)
#**/.git
**/.git/objects/**

# Shared build artifacts
**/bin~
**/obj~

# unity client isn't required in `COPY . .`
src/App/Client/
