version: '3.9'

services:
  web:
    image: nginx:latest
    #restart: unless-stopped
    #profiles: [disabled]
    deploy:
      restart_policy: # https://docs.docker.com/reference/compose-file/deploy/#restart_policy
        condition: none
    ports:
      # using 'host' mode now to simplify diagnostics
      # * https://stackoverflow.com/questions/49415595/docker-swarm-get-real-ip-client-host-in-nginx
      # * TODO: custom balancer for X-Real-IP
      #- '80:80'
      #- '443:443'
      - mode: host
        protocol: tcp
        published: 80
        target: 80
      - mode: host
        protocol: tcp
        published: 443
        target: 443
    extra_hosts:
      - "host.docker.internal:192.168.8.107"
    volumes:
      # tmp DATA_ROOT from .env usage until image isn't built
      - ${DATA_ROOT:-.}/deploy/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # templates to render environment variables
      #   https://github.com/docker-library/docs/tree/master/nginx#using-environment-variables-in-nginx-configuration-new-in-119
      - ${DATA_ROOT:-.}/deploy/nginx/templates:/etc/nginx/templates:ro
      - ${DATA_ROOT:-.}/pages:/usr/share/nginx/html:ro
      - ${DATA_ROOT:-.}/certbot/www:/var/www/certbot:ro
      - ${DATA_ROOT:-.}/certbot/conf:/etc/letsencrypt:ro
    environment:
      - SERVER_NAME=${SERVER_NAME:-localhost}

  server:
    image: ${SERVER_IMAGE:-server}
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:8080/
    build:
      dockerfile: server/Dockerfile
    network_mode: "host"
